html, body{ 
    margin:0; 
    padding:0; 
    text-align:center; 
   } 
    
.searchSpace{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

.mainInfo, .selectedSubjects{
    background: linear-gradient(76deg, #186E27, #5D9667);
    color: #003509;
    font-weight: bold;
    border: 3px solid #5D9667;
    border-radius: 35px;
    padding: 20px;
    text-align: center; 
    float:right; 
    position:relative; 
    box-shadow: 8px 4px 15px 1px #000000;
}
.mainInfo{
    width:65%;
} 
.selectedSubjects{
    width: 35%;
}

.loginArea {
  justify-content: space-around;
  height: 50%;
  background-color: #186E27;
  background-color: rgba(24, 110, 39, 0.4);
  color: #003509;
  font-weight: bold;
  border: 3px solid #5D9667;
  border-radius: 35px;
  padding: 20px;
  text-align: center; 
}

*::before,
*::after {
  box-sizing: border-box;
}